includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	bootstrapFiles:
		- phpstan-bootstrap.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	level: 6
	treatPhpDocTypesAsCertain: false
	paths:
		- beplus-fast-product-filter-live-search-for-woocommerce.php
		- src
		- includes
		- blocks
		- admin
	excludePaths:
		analyse:
			- vendor
			- node_modules
			- stubs (?)
			- blocks/*/index.js
			- blocks/*/view.js
			- blocks/*/index.asset.php
			- admin/js/settings.js
			- admin/js/settings.asset.php
